.page-buttons {
    border: 1px;
    border-style: solid;
    border-color: azure;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    width: 250px;
    height: 25px;
    cursor: pointer;
}
